.messages {
	margin-top: 10px;
	.messages__item {
		margin: 0 auto;
		margin-bottom: 10px;
		padding: 10px;
		text-align: left;
		list-style-type: none;
		width: 155px;
		color: #000;
		text-transform: capitalize;
		font: normal 15px 'Arial';
		border: solid 1px #737373;
		border-radius: 5px;
        &:nth-child(odd) {
            background-color: #40fefd;
        }
        &_my {
            background-color: #3bfb42;
        }
    }
    &__author,
    &__text {
        display: block;
    }
}