.button {
 	margin: 0 auto;
 	margin-top: 10px;
 	margin-bottom: 10px;
	text-align: center;
	width: 185px;
	height: 30px;
	color: #000;
	text-transform: capitalize;
	font: normal 15px 'Arial';
	cursor: pointer;
	background-color: transparent;
	border: solid 1px #717171;
	border-radius: 5px;
}
.button-link {
 	margin: 0 auto;
	text-align: center;
	color: #1434f7;
	font: normal 15px 'Arial';
	background: none;
	border: none;
}
