.field {
	margin: 0 auto;
	padding-left: 15px;
	width: 170px;
	text-align: left;
	color: #000;
	text-transform: uppercase;
	font: normal 15px 'Arial';
	background-color: #fff;
	border: solid 1px #737373;
	border-radius: 5px;
}