

h1.app__title list of messages

.messages(data-component='messages', data-options={messages})
.button(data-component='button', data-options={button})
.field(data-component='field', data-options={field})

h3.app__title.app__title_sm Users
.users(data-component='users', data-options={users})

a(href="#login")= "Login"